@import './helpers';
:root {
    --dark-bg: #222;
    --dark-text-color: #ccc;
    --dark-secondary: #555;
    
    
    --light-bg: #eee;
    --light-text-color: #222;
    --light-secondary: #fff;

    
    --background-color: var(--dark-bg);
    --text-color: var(--dark-text-color);
    --secondary: var(--dark-secondary);
    font-size: 1vw;
}
* {
    $transition: .3s ease;
    transition: background $transition;
}
@media only screen and (max-width: 900px) {
    :root {
        font-size: 10px;
    }
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.big-title {
    @extend .title;
    font-size: 3em;
}