@import './helpers';
:root {
    --dark-bg: #222;
    --dark-text-color: #ccc;
    --dark-secondary: #555;
    --dark-box-shadow: #5558;
    
    
    --light-bg: #eee;
    --light-text-color: #222;
    --light-secondary: #fff;
    --light-box-shadow: #3335;

    
    --background-color: var(--dark-bg);
    --text-color: var(--dark-text-color);
    --secondary: var(--dark-secondary);
    --box-shadow-color: var(--dark-box-shadow);
    font-size: 1vw;

    --transition: .2s cubic-bezier(.23,.79,0,.99);
}
* {
    $transition: .3s ease;
    transition: background $transition;
}
.transition {
    transition: transform var(--transition);
}
@media only screen and (max-width: 900px) {
    :root {
        font-size: 10px;
    }
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.big-title {
    @extend .title;
    font-size: 3em;
}

.std-input {
    font-size: 2em;
    text-align: center;
    margin-bottom: .5em;
    width: 100%;
    font-family: inherit;
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    color: inherit;
    outline: 0;
    border: 0;
    border-bottom: .05em solid var(--text-color)
}